/* @media only screen and (max-width: 991px) {
    .header-left-box.layout {
        width: 100%;
    }
  } */
   @media only screen and (max-width: 768px) {
    .header-left-box.layout {
        width: 100%;
    }
    .header-right-box.layout {
        width: 30%;
        height: 96%;
        position: absolute;
        bottom: -76%;
        left: 0%;
        z-index: 999;
    }
    .footer-box.layout {
        float: none;
    }
    .footer-box1.layout {
        float: none;
    }
    .footer-section.clearfix {
        margin-left: 30%;
       
    }
    .footer-box.layout {
        width: 100%;
    }
    .footer-box2.layout {
        width: 0%;
      
    }
    .footer-box1.layout {
        width: 100%;
    }
    .right {
        width: 40%;
        position: absolute;
        right: 30%;
        bottom: -76%;
        z-index: 999;
    }
    .left {
        width: 30%;
        position: absolute;
        z-index: 9999;
        bottom: -76%;
        right: 0%;
    }
    .banner-section.clearfix {
        width: 70%;
        margin-left: 30%;
        position: absolute;
        bottom: -59%;
    }
}
  /*  
.header-right-box.layout {
    position: absolute;
    top: 457px;
   
    width: 20%;
    height: 466px;
}
.footer-box.layout {
    position: absolute;
    left: 151px;
    z-index: 99;
    width: 100%;
}
.banner-section.clearfix {
    position: absolute;
    bottom: 205px;
    left: 144px;
    width: 100%;
}
.left {
    position: absolute;
    z-index: 99;
    right: -427px;
    bottom: -144px;
    width: 266px;
}
.right {
    position: absolute;
    top: 45px;
    left: -39px;
    z-index: 9999;
    width: 467px;
}
  } */

  @media only screen and (max-width: 576px) {
    
    .header-left-box.layout {
        width: 100%;
       
    }
    .header-right-box.layout {
        width: 100%;
       
    }
    .footer-box.layout {
        width: 100%;
        
       
    }
    .footer-box1.layout {
        width: 100%;
      
    }
    .footer-box2.layout {
        width: 100%;
        
    }
    .left {
        width: 100%;
    }
  }